* { margin: 0px; padding: 0px; }
		
		html { 
			background: url(../images/FONDO.png) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			
		}
	div.logo
	{
		display: inline-block;
		position: absolute;
		top: 5px;
		left: 7px;
	}
	img.logoimg
	{
		height: 200px;
		width: 280px;
	}
	nav.navegacion
	{
		
		display: inline-block;
		position: absolute;
		 
		 top: 115px;
		left: 297px;
		height: 85px;
		width: 690px;
	}
	li{
		display: inline-block;
		vertical-align: top;
		background:-ms-linear-gradient(#ffb173 0%, #ff7100 100%);
		background: -moz-linear-gradient(#ffb173 0%, #ff7100 100%);
		background: -o-linear-gradient(#ffb173 0%, #ff7100 100%);
		background: -webkit-linear-gradient(#ffb173 0%, #ff7100 100%);
		border-radius: 15px 0px 15px 0px;
		margin:5px;
		border:solid 2px #a64a00;
		color: White ;
		padding: 5px;
		text-align: center;
		width: 100px;
		transition:1s;
		}
	a{
		color: #ffffff;
		text-decoration: none;
	}
	li:hover{
		background:-ms- linear-gadient(#09f 0%, #03f 100px);
		background:-moz- linear-gadient(#09f 0%, #03f 100px);
		background:-o- linear-gadient(#09f 0%, #03f 100px);
		background:-wenkit- linear-gadient(#09f 0%, #03f 100px);
		box-shadow: 0 0 10px #fff;
		-o-box-shadow: 0 0 10px #fff;
		-ms-box-shadow: 0 0 10px #fff;
		-moz-box-shadow: 0 0 10px #fff;
		-webkit-box-shadow: 0 0 10px #fff;
		
		text-shadow: 0 0 5px #fff;
		-ms-text-shadow: 0 0 5px #fff;
		-moz-text-shadow: 0 0 5px #fff;
		-o-text-shadow: 0 0 5px #fff;
		-wenkit-text-shadow: 0 0 5px #fff;
		padding: 15px;
		font-size: 16px;
		color:#fff;


	}
	h1
		{
			font-family: verdana;
			display: inline-block;
			position: relative;
			top: 10;
			left: 50%; 
		}
	div.img {
		position: absolute;
		display: inline-block;
		background-color: #a62800;
		height: 400px;
		width: 960px;
		top: 225px;
		left: 200px;

	}
	div.inferior
	{
		background:  
		top: 650px;
	}